.bg-img {
    background-image: url(Dino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    position: relative;
    z-index: -1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: dark;
    height: 100vh;
}

hr.dotted {
    border-top: 3px dotted rgb(255, 255, 255);
    background: transparent;
}

.link-line {
    text-decoration: underline;
    text-decoration-color: rgb(80, 76, 186);
}